<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:replace="~{fragments/fragment.html :: head}"></div>
    <body>
        <!-- Navigation-->
        <div th:replace="~{fragments/fragment.html :: navbar}"></div>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Explorer Stories</h1>
                            <span class="subheading">Share Your Love For Travel</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <div class="blog" th:each="blog : ${blogs}">

                            <h2><a th:href="@{'/post/' + ${blogPost.id}}" th:text="${blogPost.title}">Title</a></h2>
                            <p class="post-meta" th:text="'Written on ' + ${blogPost.createdDate}">Created On</p>
                        </div>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">

                        <h2 class="post-title">Title 2</h2>

                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">

                        <h2 class="post-title">Title 3</h2>

                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">Title 2</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 18, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" th:href="@{/post}">More Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <div th:replace="~{fragments/fragment.html :: footer}"></div>
    </body>
</html>
