<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:replace="~{fragments/fragment.html :: head}"></div>

<body>
<!-- Navigation-->
<div th:replace="~{fragments/fragment.html :: navbar}"></div>
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Share Your Stories</h1>
          <span class="subheading">Create an account and start posting!!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-2 px-lg-2">
    <div class="row gx-2 gx-lg-2 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
              <table class="table table-striped .table-hove ">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="allAccount : ${allAccount}">
                  <td th:text="${allAccount.id}"></td>
                  <td th:text="${allAccount.firstName}"></td>
                  <td th:text="${allAccount.lastName}"></td>
                  <td th:text="${allAccount.email}"></td>
                  <td th:text="${allAccount.password}"></td>
                  <th scope="col">Action</th>
                </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<!-- Footer-->
<div th:replace="~{fragments/fragment.html :: footer}"></div>
</body>
</html>
